@import url('https://fonts.googleapis.com/css2?family= Poppins & display = swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family= Inter: wght @300 & display=swap');
/* font-family: 'Inter', sans-serif; */

* { margin: 0; padding: 0; box-sizing: border-box;  font-family: 'Inter', sans-serif; }

html {
    scroll-behavior: smooth;
}

.bg-body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.5) 89%), url(../images/bg-shakugan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: var(--red-right);
}

a:hover {
    text-decoration: underline;
    color: var(--red-dark);
}

:root {
    --red-right: #91223a;
    --red-dark: #3e0205;
    --gray-color: rgb(248, 247, 247);
    --green-color: #e4c9b5;
    --green-dark: #4b483b;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    background-color: var(--red-dark);
    padding: 20px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper img{
    width: 120px;
    transition: .4s;
}

.header-wrapper img:hover {
    filter: drop-shadow(0 0 20px white);
}

.header-wrapper ul, .nav-container ul {
    list-style: none;
    display: flex;
}

.header-wrapper ul li a, .nav-container ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: .3s ease-in-out;
}

.header-wrapper ul li a:hover{
    background-color: var(--red-right);
    border-radius: 20px 30px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--red-dark);
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.nav-container input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.section-top {
    margin-top: 20px;
}

.description {
    background-color: var(--red-right);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.description i {
    color: var(--gray-color);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 80%;
    margin-top: 20px;
    border: 1px solid var(--red-dark);
    padding: 10px;
    border-radius: 10px;
}
    
.column1 {
    border-right: 1px solid var(--red-dark);
    padding-right: 10px;
}

.column1 button {
    width: 100%;
    background-color: var(--green-dark);
    border: none;
    outline: none;
    padding: 7px 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: .4s;
    font-family: 'Inter', sans-serif;
}

.column1 button:hover {
    opacity: .6;
}

.social-area {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.social-area::after,
.social-area::before {
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background-color: var(--green-dark);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.socials {
    display: flex;
    justify-content: space-around;
}

#social {
    text-align: center;
    font-size: 23px;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
}

.socials i {
    font-size: 30px;
    margin: 5px 0 20px 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.socials i:hover {
    color: #91223a;
}


.column2{ 
    width: 100%;
}

.details2 img {
    width: 360px;
    height: 210px;
}

.details1 p {
    width: 90%;
    max-width: 90%;
    text-align: justify;
    margin: 0 auto;
    line-height: 2em;
    font-family: 'Poppins', sans-serif;
}

.details2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 98%;
    max-width: 1200px;
    margin: auto;
}

#picture {
    background-color: var(--red-right);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 30px auto;
    max-width: 90%;
    padding: 5px 0;
}

#synopsis {
    background-color: var(--red-right);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 90%;
    padding: 5px 0;
}

.pictures {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
}

.pictures img {
    transition: .4s;
    border-radius: 5px;
}

.pictures img:hover {
    transform: scale(0.9);
}

.footer-top img {
    width: 200px;
    transition: .4s ease-in-out;
}

.footer-top img:hover {
    filter: drop-shadow(0 0 2px white);
}

footer {
    background-color: var(--red-dark);
    margin-top: 100px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
    transform: translateY(-45px);
}

table {
    text-align: left;
}

.nav-footer ul {
    list-style: none;
    display: flex;
}

.nav-footer ul li a{
    color: white;
    margin: 0 15px;
}

.footer-bottom p {
    text-align: center;
    color: gray;
    font-size: 12px;
}

.modal {
    display: none;
}

.modal-conteudo {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
    gap: 20px;
    background-color: rgba(62, 2, 5, 0.5);
}

.abrir-modal {
    display: block;
}

.fechar-modal {
    cursor: pointer;
    transition: .4s;
}

.fechar-modal:hover{
    opacity: .8;
}

.modal1 span {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.tittle-main {
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: #4b483b;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    padding: 10px 0;
    color: white;
    font-size: 14px;
}

.modal1 span:hover {
    opacity: .65;
}

.bars {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    border-radius: 20px;
    margin: 3px 0;
    background-color: white;
}

@media (max-width: 1050px) {
    #synopsis, #picture {
        max-width: 100%;
        margin: 20px auto;
    }

    div.details1 {
        font-size: 0.9em;
        max-width: 80%;
        margin: auto;
    }

    .column2 {
        max-width: 90%;
        width: 100%;
        margin: auto;
    } 
}

@media (max-width: 1030px) {
    .column2 {
        max-width: 80%;
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 900px) {
    .column2 {
        max-width: 75%;
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 818px) {
    .main-container {
        border: none;
    }

    .column1 {
        border: none;
    }

    .main-container {
        display: block;
        text-align: center;
    }
}

@media (max-width: 750px) {
    .nav-container {
        display: none;
    }

    .description {
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    .nav-items {
        display: none;
    }

    .bars {
        display: block;
    }
}